@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.aboutme__skills{
    display: flex;
    flex-direction: column;
    width: 615px;
    gap: 15px;
    margin-top: 24px;
}

.aboutme__skills__tittle{
    font-size: 48px;
    color: var(--highlightedtext);
}

.aboutme__skills__list{
    list-style-type: none;
    font-size: 19px;
}

.aboutme__skills__types{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

